* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    width: 1200px;
    height: 800px;
    background-color: #5a809c;
    color: #fff;
    margin-top: 30px;
font-family: 'Open Sans', sans-serif;
}

.app {
    width: 1200px;
    height: 100%;
    background-color: #2a424adb;
    display: flex;
    border-radius: 30px;

}


/* for__menu */

.for__menu {
    width: 5%;
    height: 100%;
    padding-top: 14%;
}

.menu__home {
    width: 100%;
    text-align: center;
    height: 100px;
    /* background-color:blue; */
    opacity: 0.6;
}

.menu__home-icon {
    font-size: 1.4rem;
    cursor: pointer;

}

.menu__home.active {
    opacity: 1;
}

.menu__home:hover {
    opacity: 1;
}

/* for__contain */

.for__contain {
    width: 70%;
    height: 100%;
}

.contain--header {
    width: 100%;
    height: 19%;
}


.header__title {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 0 5px;

}


.header__title-left {
    margin: 0;
}

.header__title-left-h1 {
    font-size: 1.6rem;
    opacity: 0.9;
    padding-bottom: 3px;
}

.header__title-left-p {
    opacity: 0.8;
}

.header__title-right {
    margin: 0;

}

.header__title-right-h1 {
    font-size: 1.6rem;
    opacity: 0.9;
    padding-bottom: 3px;
}

.header__title-right-p {
    opacity: 0.8;
}

.contain__content {
    width: 100%;
    height: 72%;
    background-color:#5e959321;
    /* box-shadow: 0 0 2px 2px #9bafcd3b; */
}


.header__list {
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: left;
    margin: 0;
    padding: 50px 0 0 0;
}

.header__list-item {
    font-size: 1.2rem;
    opacity: 0.8;
    position: relative;
    cursor: pointer;
    
}


   /* branch          */

.list-item-title{
    background-color:#255e5ad4;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    display:none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top:2px;
   }
.header__list-item:hover .list-item-title
{
display: block;
}
.item-title-item
{
   padding: 8px 10px;
   border-bottom: 1px solid#7a9a9f94;

}
.item-title-item:hover {
    background-color: #c3c9cb94;
    color: white;
}
.item-title-item:last-child{
    border-bottom: none;
}
.header__list-item:hover {
    opacity: 1;
}
/* .slick-list{
    z-index: 1;
} */


/* .change-color::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    border-bottom: 2px solid rgb(214, 203, 203);

} */


.contain__content {
    border-radius: 15px;

}

.contain__content-list {
    width: 100%;
    /* height: 100%; */

}

.content-list__item {
    margin-top: 20px;
    width: 95%;
    height: 91%;
    object-fit: center;
    padding: 22px;
    border-radius: 55px;
    /* overflow: hidden; */
    display: none;

}

.content-list__item.active {
    display: block;
}

/* item 1  */
.list__item-image {
    width: 100%;
    height: 20%;
}

.item-image-img {
    width: 100%;
    height: 373px;
    object-fit: center;
   border-radius: 10px;
    }

.list__item-branch {
    width: 100%;
        height: 125px;
        display: flex;
        /* flex-wrap: wrap; */
        padding-top: 10px;
}

.item-branch-imgage {
    width: 48%;
    height: 94%;

    margin: 6px;
    position: relative;
  
    box-shadow: 0 0 5px 5px #6b6969;
   border-radius: 10px;
    
}

.branch-imgage-img:hover {
   transform: scale(0.9);
   transition: 1s ;
}


.brach-title{
  position:absolute;
    top: 43%;
    left: 40%;
    color:#cbcdd9;
}
.branch-imgage-img {

    width: 100%;
    height: 100%;
    object-fit: center;
   border-radius: 10px;

    cursor: pointer;
}



.contain__content-item {
    width: 100%;
    height: 40%;
}




/* item 2  */

.list__item2-title{
    float: right;
    margin: 10px 10px;
    font-size:1.2rem;
    opacity: 0.7;
    cursor: pointer;
} 
.list__item2-title:hover{
    opacity: 1;

}
.list__item2-add
{
    padding-right: 5px;
    font-size: 15px;
}
.list__item2-contain{
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   height: 100%;
margin-top: 66px;
}
.item2-contain-content{
    width : 49%;
    height: 100px;
    /* background-color:#566457; */
     box-shadow:0 0 4px 2px #777679;
    margin-bottom:10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.item2-contain-content.active {
    background-color: #2e4e64;
    color: white;
}
.contain-content-icon{
    font-size: 2rem;
}
.contain-content-title{
    margin-left: -10px;
}
.content-title-h1{
font-size: 1.3rem;
margin-bottom: 3px;
}
.content-title-connect{
  font-size:1rem;
  opacity: 0.8;
}
.btn{
  padding: 4px 15px;
  border-radius:20px;
  cursor: pointer;
  /* display:none; */
}

  
/* for__weather */

.for__weather {
    width: 25%;
    height: 80%;
    background-color:#848d8c1c;
    margin: 110px 10px;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 0 5px 5px #9bafcd3b;
}
.for__weather-list{
        width: 90%;
        height: 90%;

        /* background-color: red; */
        margin-top: 34px;
        border-radius: 15px;
}
.weather-header{
   width: 100%;
   height: 10%;
   /* background-color: yellow; */
   text-align: center;
}
.weather-header-title
{
    opacity: 0.8;

}
.weather-contain{
    width: 100%;
    height: 70%;
    /* background-color:blue; */

}

.weather-contain-include{
 padding-top: 8px;
 display:flex;
 /* border: 1px solid rgb(254, 244, 244); */
 /* text-align: center; */
 padding: 8.3px 0;
 /* justify-content:space-around; */
} 
.weather-contain-icon{
padding-top: 8px;
font-size: 1.2rem;
margin-left: 10px;
} 
.weather-contain-content{
    position: absolute;
    left:70px;

} 
.contain-content-title{
font-size: 0.8rem;
opacity: 0.9;
padding-bottom: 1px;
} 
.contain-content-p{
 opacity: 1;
 font-size:1rem;
margin-left: -9px;
}
.weather-contain-temperature{
position: absolute;
right: 14px;
padding-top: 10px;
}


.weather-fotter{
    margin-top: 10px;
    border-top: 2px solid #506670;
    width: 100%;
    height: 20%;
    /* background-color: red; */
}
.weather-fotter-img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}







.infor{
  position: absolute;
  top: -13%;
  right: 2%;
  width:150px;
  height: 40px;
  display: flex;
  
  
}
.infor-title{
   width: 40px;
   /* height: 40px; */
   cursor: pointer;
}





.infor-title-img{
width: 100%;
height: 100%;
border-radius: 50%;
}
.infor-name{
    position: absolute;
    top: 9px;
    left: 13px;
   position: relative;
}


/* sign out       */
.infor-title-branch{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 150px;
  height: 135px;
  /* background-color: red; */
  box-shadow: 0 0 3px 3px #314a4852;
  margin-top: 10px;
  display: none;
  
}
.infor-title-branch.active{
  display:block;
  /* animation: branch 4s ease-in ; */

}
/* @keyframes branch {
    from{
       
        display: block;
    }
    to {
        
        display: none;
     }

} */
.title-branch-item{
   display:flex;
   padding:  10px;
   width:100%;
   height:45px;
   padding-top:5px;
   background-color: #2c5260;
   /* border: 2px solid red; */
   /* text-align: center; */
   border-radius: 4px;
   border-bottom: 1px solid #6c8389;
   
}
.title-branch-item:hover {
background-color: #658790;
}
.title-branch-item:last-child {
    border-bottom: none;
}
.title-branch-item-icon{
    padding-top: 8px;
    position: absolute;
    left: 36px;
 opacity: 0.9;
} 
.title-branch-item-title{
position: absolute;
padding-top: 3px;
left: 40%;
 opacity: 0.9;
}


/* item 3 */


@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
p,
a,
span {
    color: #fff;
}

.scnd-font-color {
    color: #9099b7;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal-list li {
    float: left;
}

.block {
    margin: 25px 25px 0 0;
    background: #394264;
    border-radius: 5px;
    float: left;
    width: 100%;
    border-radius: 10px;
    /* overflow: hidden; */
}

/******************************************** LEFT CONTAINER *****************************************/
/* .left-container {} */

.menu-box {
    height: 360px;
}

.donut-chart-block {
    overflow: hidden;
}

.donut-chart-block .titular {
    padding: 10px 0;
}

.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: #50597b;
}

.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

.os.ios {
    border-top: 4px solid #e64c65;
}

.os.mac {
    border-top: 4px solid #11a8ab;
}

.os.linux {
    border-top: 4px solid #fcb150;
}

.os.win {
    border-top: 4px solid #4fc4f6;
}

.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block,
.bar-chart-block {
    height: 480px;
}

.line-chart {
    height: 260px;
    background: #11a8ab;
    display: none;
}
.line-chart.active {
    display: block;
}

.time-lenght {
    padding-top: 22px;
    /* padding-left: 38px; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.time-lenght-btn.active
{
    background: #e64c65;
}

.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}

.month-data {
    padding-top: 28px;
    display:none;
}
.month-data.active {
    display: block;
}

.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}

.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}

.increment {
    color: #e64c65;
}

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
GRAFICO LINEAL
******************************************/

.grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
}

.grafico span {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    transform-origin: left center;
    width: 115px;
}

.grafico span>span {
    left: 100%;
    bottom: 0;
}

[data-valor='25'] {
    width: 75px;
    transform: rotate(-45deg);
}

[data-valor='8'] {
    width: 24px;
    transform: rotate(65deg);
}

[data-valor='13'] {
    width: 39px;
    transform: rotate(-45deg);
}

[data-valor='5'] {
    width: 15px;
    transform: rotate(50deg);
}

[data-valor='23'] {
    width: 69px;
    transform: rotate(-70deg);
}

[data-valor='12'] {
    width: 36px;
    transform: rotate(75deg);
}

[data-valor='15'] {
    width: 45px;
    transform: rotate(-45deg);
}

[data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
}

/* [data-valor='23']:after {
    content: '+' attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    transform: rotate(45deg);
} */

[class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
}

.eje-x {
    height: 2.5rem;
}

.eje-y li {
    height: 25%;
    border-top: 1px solid #777;
}

[data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
}

.eje-x li {
    width: 33%;
    float: left;
    text-align: center;
    font-size:1rem;
}






/* .....................item 6 .........      */



.list__item-support{
 width:100%;
 height:100%;
}

.item-support-header{
   width:100%;
   height: 10%;
   border-bottom: 1px solid #d9c3c3;
}
.support-header-name{
   padding: 10px;
  
}
.item-support-contain{
width: 100%;
height: 60%;
/* background-color: blue; */
 padding-left: 5px;
    margin-top: 10px;
}
.support-contain-question{
 padding: 8px;
 font-size:1.1rem;
 opacity: 0.8;
}
.support-contain-question:hover
{
    cursor: pointer;
    opacity: 1;
}
.item-support-floor{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
   border-top: 1px solid #d9c3c3;
   margin-top:10px;
   
}
.support-floor-contract{
  display: flex;
  margin-top: 10px;
  font-size:1.1rem;
  position: relative;
  padding-left: 20px;
}
.support-floor-name{
  position: absolute;
  top: 0;
  left: 18%;
  font-size: 0.9rem;
  
}



